$colors: (
    primary: #ffffff,
    primary-light: #f4f4f4,
    primary-dark: #a4a4a4,
    accent: red,
    secondary: #f4f4f4,
    font-def: white,
    font-title: #626262,
    font-desc: #818181,
);

@function color($color-name) {
    @return map-get($colors ,$color-name);
  }

$mini: 720px;

@mixin mini {
    @media (max-width: #{$mini}) {
        @content;
    }
}

$weight: (
    thin: 100,
    light: 300,
    regular: 400,
    medium: 500,
    bold: 700,
    black: 900,
);
@function weight($weight-name) {
    @return map-get($weight ,$weight-name);
  }

/* SCSS */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: lightgray;

    @include mini {
        width: 100%;
        overflow-x: hidden;
    }

    .headline {
        width: 100%;
        height: 100vh;
        position: relative;
        z-index: -1;
        padding-top: 11em;
        color: color(primary);

        #subtitle {
            font-family: 'Montserrat', sans-serif;
            font-weight: weight(bold);
            font-size: .75em;
            text-align: center;
            letter-spacing: .3em;
            margin-bottom: 1.5em;
        }

        p {
            font-family: 'Playfair Display', serif;
            font-size: 3em;
            text-align: center;
        }
    }

    .desc {
        display: grid;
        width: 100%;
        height: 100%;
        padding: 7em 3.75em 7em 3.75em;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 3em;
        background-color: #f4f4f4;

        @include mini {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
        }

        .text {
            float: left;
            justify-content: center;
            border: 1px solid red;

            @include mini {
                padding: 1em 0;
            }

            p {
                font-family: 'Open Sans', sans-serif;
                font-weight: weight(light);
                font-size: 1em;
                color: color(font-desc);
            }

            #title {
                font-family: 'Lato', sans-serif;
                font-weight: weight(bold);
                font-size: 1.5em;
                color: color(font-title);
            }
        }
    }

    .desc-2 {
        width: 100%;
        height: 100%;
        display: grid;
        padding: 7em 3.75em 7em 3.75em;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 1em;

        @include mini {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            padding: 7em .5em;
        }

        .text {
            padding: 10em 0;

            @include mini {
                padding: 1em 0 .5em 0;
            }

            #title {
                font-family: 'Lato', sans-serif;
                font-weight: weight(bold);
                font-size: 2.5em;
                color: color(font-title);

                @include mini {
                    font-size: 2em;
                }
            }

            p {
                font-family: 'Open Sans', sans-serif;
                font-weight: weight(light);
                font-size: 1em;
                color: color(font-desc);
            }
        }

        .image {
            display: grid;
            width: 100%;
            height: 31.25em;
            justify-content: center;

            #img {
                width: 31.25em;
                height: 31.25em;

                @include mini {
                }
            }
        }
    }

    .featured {
        width: 100%; 
        height: 100%;
        background-color: #f4f4f4;
        padding: 2em 3.75em 2em 3.75em;

        p#title {
            font-family: 'Open Sans', sans-serif;
            font-weight: weight(light);
            font-size: 1em;
            text-align: center;
            color: color(font-desc);
        }

        .nested {
            display: grid;
            padding: 2em 0 2em 0;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: .5em;
            
            @include mini {
                display: grid;
                grid-template-columns: repeat(1, 1fr);
            }    
            
            .dummy {
                width: fit-content;
                height: fit-content;
                grid-column: 1/2;

                #img {
                    width: 31.25em;
                    height: auto;

                    @include mini {
                        height: auto;
                        width: 25em;
                    }
                }
            }

            .nest2 {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-gap: .5em;

                @include mini {
                    display: grid;
                    grid-template-columns: repeat(4, 1fr);
                    align-content: center;
                }        

                .dummy2 {
                    width: fit-content;
                    height: fit-content;

                    #img {
                        width: 18.75em;
                        height: auto;

                        @include mini {
                            width: 5.75em;
                        }
                    }
                }   
            }
        }

        a {
            font-family: 'Open Sans', sans-serif;
            font-weight: weight(light);
            font-size: 1em;
            text-decoration: none;
            color: color(font-title);

            p {
                text-align: center;
            }

            #button:hover {
                color: color(primary-dark);
            }
        }
    }

    .exp {
        width: 100%;
        height: 100%;
        padding: 5em 3.75em 5em 3.75em;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1em;

        @include mini {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
        }

        .gallery {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 1em;

            .image2 {
                background-color: white;
                width: 17em;
                height: 17em;

                @include mini {
                    grid-template-columns: repeat(4, 1fr);
                    width: 11em;
                    height: 11em;
                }
            }
        }


        .text {
            padding: 0 9em 0 0;
            border: 1px solid red;

            @include mini {
                padding: 0;
            }

            #title {
                font-family: 'Lato', sans-serif;
                font-weight: weight(bold);
                font-size: 1.5em;
                color: color(font-title);
            }

            p {
                font-family: 'Open Sans', sans-serif;
                font-weight: weight(light);
                font-size: 1em;
                color: color(font-desc);
            }
        }
    }

    .brands {
        display: grid;
        padding: 2em 3.75em 2em 3.75em;
        grid-template-columns: repeat(4, auto);
        grid-gap: 3em;
        justify-content: center;
        background-color: #f4f4f4;
        
        @include mini {
            grid-gap: 2em;
            grid-template-columns: repeat(4, 1fr);
        }
        
        .trd {
            width: 15em;
            height: 7em;

            @include mini {
                width: 6em;
                height: auto;
            }
        }
    }
}