$colors: (
    primary: #ffaa43,
    primary-light: #f4f4f4,
    primary-dark: #ff5f45,
    accent: red,
    secondary: #f4f4f4,
    font-def: white,
    font-title: #626262,
    font-desc: #818181,
);

@function color($color-name) {
    @return map-get($colors ,$color-name);
  }

$mini: 720px;

@mixin mini {
    @media (max-width: #{$mini}) {
        @content;
    }
}

$weight: (
    thin: 100,
    light: 300,
    regular: 400,
    medium: 500,
    bold: 700,
    black: 900,
);
@function weight($weight-name) {
    @return map-get($weight ,$weight-name);
  }


.nav { 
    width: 100%;
    margin: 0;
    padding: .25em 3.75em;
    position: sticky;
    top: 0;
    overflow: hidden;

    @include mini {
        padding: .25em 1em;
    }

    #logo {
        float: left;
        color: white;
        text-decoration: none;
        font-family: 'Playfair Display', serif;
        font-size: 2em;
        padding: .1em 0em .1em 0em;

    }
    
    #button {
        float: right;
        padding: 1em 1em 1em 1em;
        color: white;
        text-decoration: none;
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        font-size: 1em;

        @include mini {
            display: none;
        }
    }

    #button:hover {
        color: color(primary-dark);
    }
}
